
<%- include('./partials/header'); -%>
<h1>COMPOSE</h1>
<p>
    <form action="/compose" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="PostTitle">
        </div>
        <div class="form-group">
          <label for="Post">Post</label>
          <textarea name="PostData" class="form-control" cols="30" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      
</p>
<%- include('./partials/footer'); -%> 